body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1D1D1D;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* font-family: 'Overpass', sans-serif; */


/* GENERAL CSS */

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.btn {
  font-size: 20px;
  border-radius: 55px;
  padding: 10px 20px 13px;
  display: inline-block;
  color: white;
  line-height: 1;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-lg {
  padding: 15px 50px 13px;
}

.btn-primary {
  background-color: #27AE60;
  border: 2px solid #27AE60;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #20914f;
}


.btn-warning {
  background-color: #DBB801;
  border: 2px solid #DBB801;
}

.btn-warning:hover,
.btn-warning:focus {
  background-color: #b39608;
}

.btn-danger {
  background-color: #F42626;
  border: 2px solid #F42626;
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: #c41414;
}